body 
{
  display: flex;
  flex-direction: column;
  height: 100vh;

  color: #BCBCBE;
  background-color: #B13537;

  font-family: "Courgette", cursive;
  font-size: 4vmin;

  text-align: center;
  text-shadow: -2px 2px 2px black;
}

h1
{
  text-shadow: -4px 4px 4px black;

  font-size: 12vmin;

  margin-top: 0vmin;
  margin-bottom: 0vmin;
}

h2 
{
  margin: 1vmin;
}

p 
{
  font-size: 1vmin;
  margin: 0;
}

main 
{
  flex: 1;
}

a#lastStream 
{
  font-size: 3vmin;
}

div#streamContainer 
{
  margin-top: 2vmin;
  font-size: 2.5vmin;
}

a:link, a:visited 
{
  text-decoration: underline;
  color: inherit;
}
image #1
{
  height: 108vmin;
  width: 192vmin;
}

image #2
{
  height: 60vmin;
  width: 60vmin;
}

footer 
{
  font-size: 3vmin;
  margin-top: 5vmin;
  text-align: center;

  margin-bottom: 2vmin;
}












